:root{
 --text-color: #ffffff;
 --card-front-color: #09683d;
 --card-back-color: #15AE68;
}

body {
    background-image: url(img/rosa.jpg);
    font-family: tomorrow;
}

.cartao_conteudo{
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}
.cartao_conteudo_resposta p {
    color: var(--card-back-color);
    font-weight: 700;

}